body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
  }
  
  .search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .search-input {
    width: 80%;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-top: 120px;
    margin-bottom: 10px;
  }
  
  .book-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .book-item {
    display: flex;
    align-items: center;
    background:linear-gradient(to right,#c4ccdd   ,  #dcfae9);
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .book-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .book-image {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .book-info {
    display: flex;
    flex-direction: column;
  }
  
  .book-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .book-author {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
  }
  
  .book-availability {
    font-size: 14px;
    margin: 5px 0;
  }
  .genre{
    margin:0px;
  }
  .book-genre{
    font-size: 14px;
    color: #555;
    margin: 0px;
    
  }
  
  .book-availability.available {
    color: green;
  }
  
  .book-availability.unavailable {
    color: red;
  }
  
  .book-link {
    font-size: 14px;
    color: #007BFF;
    text-decoration: none;
  }
  
  .book-link:hover {
    text-decoration: underline;
  }
  

  /* src/styles/Booklist.css */
.book-title {
  color: black;
  /* Other styles for the book title */
}

/* Additional CSS for the rest of your styles */
body.light {
  background-color: #f5f5f5;
  color: black;
}

body.dark {
  background-color: #333;
  color: white;
}

/* Additional styles to ensure proper theme application */
.book-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.book-item.dark-mode .book-info {
  color: white;
}
.back{
background: linear-gradient(to right, #93A5CF   ,  #E4EfE9);
color: black;
border-radius: 6px;
height: 34px;
/* padding-top: 12px; */
text-align: center;
justify-content: center;
align-items: center;
margin: 10px;
font-size: 16px;
}

.book-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.heart-icon {
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* Add any additional styling here for different states if needed */
