.header {
    background:linear-gradient(to right, #7285fc   , #92EFFD);
    color: black;
    padding: 2px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
  }
  
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-title {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    font-family: 'Orbitron', sans-serif; /* A futuristic font */
    text-transform: uppercase;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color:black;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #007BFF;
  }
  
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007BFF;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .header-container {
      flex-direction: column;
    }
    
    .header-nav {
      margin-top: 10px;
    }
    
    .nav-item {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .back-to-top-button {
    background: linear-gradient(to right, #93A5CF   ,  #E4EfE9);
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .back-to-top-button:hover {
    background-color: #45a049;
  }