.header {
  background-image: url('../assets/images/book\ reading\ 3.avif'); /* Default background image */
  background-size: cover;
  color: white;
  padding: 0px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: backgroundAnimation 150s infinite; /* 30s duration for ten images */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.header-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  font-family: 'Orbitron', sans-serif; /* A futuristic font */
  text-transform: uppercase;
}

.auth-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sign-in-button {
  /* Adjust styles for SignInButton */
}

.user-button {
  /* Adjust styles for UserButton */
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #007BFF;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #007BFF;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

.back-to-top-button {
  color: black;
  border: none;
  padding: 5px 10px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 1px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 2px;
  margin-right: 5px;
}

.back-to-top-button:hover {
  background-color: #45a049;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
  }
  
  .header-nav {
    margin-top: 10px;
  }
  
  .nav-item {
    margin-left: 0;
    margin-top: 10px;
  }

  .back-to-top-button {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
