body{
  padding: 20px;
  margin:20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;

}
.app-header{
  padding: 10px;
  margin: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* src/App.css */
body.light {
  background-color: #f5f5f5;
  color: #000;
}

body.dark {
  background-color: #333;
  color: #fff;
}
